@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background: var(--website-grey-7, #070707);
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
}

/* Firefox */
input::-moz-placeholder {
  background-color: transparent;
}

/* Chrome/Safari/Opera */
input::-webkit-input-placeholder {
  background-color: transparent;
}

.zark_front {
  background-image: url("../src/assets/image/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 227px;
  padding-top: 300px;
  position: relative;
}

.navbar {
  position: absolute;
  width: 100%;
  padding-top: 23px;
  margin: 0;
  z-index: 999;
  top: 0;
}

.navbar-nav {
  gap: 30px;
}

/* header css */
.nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.nav-link:hover {
  color: #fff;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("../src/assets/image/navicon.png");
}

.navbar.expanded {
  background-color: #000;
  /* Set navbar background color when expanded */
}

.navbar-toggler {
  color: unset !important;
}

.signup_btn {
  padding: 6px 20px 8px 20px !important;
  border-radius: 8px;
  border: 1px solid #14f092;
  transition: 0.4s ease-in-out;
}

.signup_btn:hover {
  background: #00cf75;
  border: 1px solid #00cf75;
}

.nav-link:focus,
.nav-link:hover {
  color: #ededed;
}

/* nav bar mobile Start */

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d3531a;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  position: absolute !important;
  top: 0px !important;
  transform: rotate(0deg) !important;
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d3531a;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
  background-color: white;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
  background-color: white;
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
  background: #fff;
}

/* nav bar mobile End */

/* Modal Start */

.modal-content {
  border-radius: 8px;
  border: 1px solid #444;
  background: #181818;
}

.signIn_modal {
  padding: 20px 23px;
}

.signIn_modal h2 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 51px;
}

.signIn_modal input {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid var(--website-grey-2, #747474);
  background: none !important;
  padding: 0px !important;
  color: #fff;
  caret-color: #14f092;
}

.signIn_modal input::placeholder {
  color: var(--website-grey-2, #747474);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.signIn_modal a {
  color: var(--website-green, #14f092);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-left: 30px;
  text-decoration: none;
}

.signIn_modal a:hover {
  text-decoration: underline;
}

.signIn_modal button {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  border-radius: 6px;
  border: 1px solid #14f092;
  background: #181818;
  /* width: 111px; */
  padding: 5px 34px;
  white-space: nowrap;
  transition: 0.4s ease-in-out;
}

.signIn_modal button:hover {
  border: 1px solid #14f092;
  background: #14f092;
}

.signIn_modal p,
.signIn_modal p>a {
  color: #cdcdcd;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.signIn_modal p>a {
  color: #14f092;
  text-decoration: none;
  margin-left: 0px;
}

.signIn_modal p>a:hover {
  text-decoration: underline;
}

.sign_in_btn {
  margin-top: 63px;
}

.form-control:focus {
  color: #fff;
  background-color: var(--bs-body-bg);
  border-color: var(--website-grey-2, #747474) !important;
  outline: 0;
  box-shadow: none;
  outline: none !important;
}

.signIn_modal hr {
  height: 0.5px;
  color: #444;
  /* margin-top: 68px; */
  margin-bottom: 8px;
}

.signIn_modal h3 {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 32px;
}

.social_login {
  margin-bottom: 18px;
}

.social_login a>img {
  border-radius: 5px;
  cursor: pointer;
  object-fit: contain;
}

.signIn_modal h6 {
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.back_btn {
  color: #747474;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-style: hidden !important;
  margin-bottom: 20px;
}

.enter_code button:active {
  border-style: hidden !important;
}

.goo_btn {
  border-radius: 5px;
  background: #E5E2E2;
  color: #161617 !important;
  font-size: 12px;
  font-weight: 400;
  padding: 6px 17px;
  text-decoration: none;
}

.goo_btn:hover {
  text-decoration: none !important;
}

/*Sign_in Modal End */

/*Sign_up Modal Start */

.signup_modal {
  padding: 10px;
}

.signup_modal h3 {
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signup_modal label {
  color: #14f092;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signup_modal input {
  border: none;
  border-radius: 0px;
  background: none !important;
  padding: 0px !important;
  color: #fff;
  caret-color: #14f092;
}

.signup_modal input::placeholder {
  color: var(--website-grey-2, #747474);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.continue_btn {
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding: 6px 29px;
  background: #000;
  transition: 0.4s ease-in-out;
  border-radius: 6px;
  border: 1px solid #b1b1b1;
  cursor: pointer;
}

/* .continue_btn:hover {
  background-color: #fff;
  color: #000;
} */

.password label {
  color: #59f5ff;
}

.pass_btn {
  border: 1px solid #fff;
  color: #fff !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding: 6px 29px;
  background: #000;
  transition: 0.4s ease-in-out;
  border-radius: 6px;
  cursor: pointer;
}

.pass_btn:hover {
  border: 1px solid #59f5ff;
}

.password_strong span {
  display: block;
  width: 50px;
  height: 3px;
  background-color: #59f5ff;
  border-radius: 6px;
}

.password h5 {
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.password h6 {
  color: #666666;
  font-family: Plus Jakarta Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.user_name label {
  color: #d255d1;
}

.user_name input {
  caret-color: #d255d1;
}

.userName_btn {
  border: 1px solid #fff;
  color: #fff !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding: 6px 29px;
  background: #000;
  transition: 0.4s ease-in-out;
  border-radius: 6px;
  cursor: pointer;
}

.userName_btn:hover {
  border: 1px solid #d255d1;
}

.enter_code {
  padding: 20px;
}

.enter_code input {
  border-radius: 8px;
  border: 1px solid #444;
  background: #181818;
  width: 63px;
  height: 87px;
  caret-color: #ffc459;
  color: #ffc157;
  font-size: 46px;
  text-align: center;
}

.enter_code h4 {
  color: #ffc459;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.enter_code p {
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.enter_code span {
  color: #14f092;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.enter_code h6 {
  color: #8a8a8a;
  font-family: Plus Jakarta Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.enter_code h6 a {
  color: #ed6344;
  text-decoration: none;
}

.enter_code h6 a:hover {
  text-decoration: underline;
}

.enter_code_after>h4 {
  color: #14f092;
}

.enter_code_after h6 {
  color: #fff;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.enter_code_after p {
  width: 146px;
  height: 3px;
  color: #d255d1;
  border-bottom: 3px solid #d255d1;
}

.enter_code_after span>a {
  color: #8a8a8a;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
  transition: 0.4s ease-in;
}

.enter_code_after span>a:hover {
  text-decoration: underline;
}

.enter_code_after {
  padding: 20px;
}

/*Sign_up Modal End */

/* banner css */
.banner {
  margin-bottom: 51px;
}

.banner h6 {
  color: var(--website-green, #14f092);
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.banner h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}

.banner p {
  color: var(--website-grey-1, #cdcdcd);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

/* launch app css */
.launch_app {
  padding-top: 14px;
  padding-bottom: 87px;
  background-image: url("../src/assets/image/lunch_app.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 12.2% center;
  position: relative;
}

.launch_app button {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
  width: 192px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  border-radius: 8px;
  border: 1px solid #14f092;
  background: rgba(49, 49, 49, 0);
  margin-bottom: 83px;
}

.launch_app p {
  color: #b1b1b1;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 21px;
}

.launch_app .brand {
  gap: 50px;
}

.title {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.content {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 17px;
}

.paragraph {
  color: var(--website-grey-1, #cdcdcd);
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
}

.crypto .title {
  color: #14f092;
}

.pricing {
  margin-bottom: 186px;
  position: relative;
  margin-top: 130px;
}

.pricing .title {
  color: var(--dashboard-light-blue, #59f5ff);
}

.business .title {
  color: #d255d1;
}

.socialmedia {
  margin-bottom: 326px;
  margin-top: 130px;
  position: relative;
}

.socialmedia .title {
  color: #ffc459;
}

.socialmedia .signUp {
  display: flex;
  border-radius: 8px;
  border: 1px solid #ffc157;
  background: rgba(49, 49, 49, 0.51);
  max-width: 362px;
  height: 40px;
  margin-top: 62px;
}

.socialmedia .signUp input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #afacac;
  padding-left: 16px;
}

.socialmedia .signUp input:focus-visible {
  outline: none;
}

.socialmedia .signUp input::placeholder {
  color: #afacac;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}

.socialmedia .signUp button {
  white-space: nowrap;
  border: none;
  border-radius: 8px;
  background: #ffc459;
  padding: 0 40px;
  color: var(--website-grey-7, #070707);
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
}

/* faq css */
.faq {
  margin-bottom: 114px;
}

.faq h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
  margin-top: 200px;
}

.faq p {
  color: var(--website-grey-1, #cdcdcd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 30px;
}

.faq .contact_btn {
  border-radius: 8px;
  background: #ffc459;
  border: none;
  padding: 10px 30px;
  color: var(--website-grey-7, #070707);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.faq_accordion {
  border-radius: 20px;
  background: var(--website-grey-5, #121212);
  padding: 30px;
  /* margin-bottom: 105px; */
}

.accordion-body {
  padding-top: 22.5px;
  padding-bottom: 0;
  padding-left: 45px;
}

.accordion {
  --bs-accordion-bg: unset !important;
  --bs-accordion-color: var(--website-grey-1, #cdcdcd) !important;
  --bs-accordion-border-color: transparent !important;
}

.accordion-button {
  color: var(--website-white, #fff);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  padding: 0;
}

.accordion-button:not(.collapsed) {
  background-color: unset !important;
  color: var(--website-white, #fff);
}

.accordion-button::before {
  background-image: url("../src/assets/image/plus.png") !important;
}

.accordion-button::before {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-right: 20px !important;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button::after {
  background-image: unset !important;
  display: none;
}

.accordion-button::before {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-right: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button::before {
  background-image: url("../src/assets/image/plus.png") !important;
}

.accordion-button:not(.collapsed)::before {
  background-image: url("../src/assets/image/Minus.png") !important;
}

.accordion-button:focus {
  border: none;
  box-shadow: none;
}

footer {
  padding-bottom: 50px;
}

footer img {
  margin-bottom: 22px;
}

footer h6 {
  color: var(--website-grey-1, #cdcdcd);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 77px;
}

footer p,
footer a {
  color: var(--website-grey-1, #cdcdcd);
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
}

footer .privacy {
  gap: 60px;
}

/* timeline Start */
.timeline_card {
  position: relative;
}

.timeline_card:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50;
  bottom: 0;
  width: 50%;
  /* border-radius: 100px;  */
  border: 5px solid transparent;
  background: linear-gradient(323deg, #59f5ff, #14f092) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.timeline_card:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50;
  bottom: 0;
  width: 50%;
  /* border-radius: 100px;  */
  border: 5px solid transparent;
  background: linear-gradient(358deg, #d255d1, #59f5ff) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.timeline_card:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50;
  bottom: 0;
  width: 50%;
  /* border-radius: 100px;  */
  border: 5px solid transparent;
  background: linear-gradient(45deg, black, #ffc459, #d255d1) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.timeline_card:nth-child(odd) {
  padding: 63px 0 63px 35px;
}

.timeline_card:last-child {
  padding: 63px 0 5px 35px;
}

.timeline_card:nth-child(even) {
  padding: 30px 30px 30px 0;
}

.timeline_card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 2px 0 2px 2px;
  border-radius: 50px 0 0 50px;
}

.timeline_card:nth-child(even)::before {
  right: 0;
  top: 2px;
  bottom: 2px;
  border-width: 2px 2px 2px 0;
  border-radius: 0 50px 50px 0;
}

.timeline_card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

.timeline_card:last-child:before {
  left: 0px;
  top: -4.5px;
  /* bottom: 275px; */
  border-width: 2px 0px 0px 2px;
  border-radius: 50px 0px 0px 0px;
}

.section-timeline {
  position: relative;
  margin-top: -221px;
}

.section-timeline::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #14f092;
  top: -8px;
  transform: translateX(-37%);
}

.crypto {
  position: relative;
}

.crypto::before {
  content: url("../src/assets/image/crypoto.png");
  position: absolute;
  border-radius: 50%;
  top: 11%;
  transform: translateX(-95%);
  background: #070707;
}

.pricing::before {
  content: url("../src/assets/image/price_1.png");
  position: absolute;
  border-radius: 50%;
  top: -21px;
  transform: translateX(-95%);
  background: #070707;
  right: -11%;
}

.business {
  position: relative;
  margin-bottom: 110px;
}

.business::before {
  content: url("../src/assets/image/b_1.png");
  position: absolute;
  border-radius: 50%;
  top: 13px;
  transform: translateX(-95%);
  background: #070707;
  right: -11%;
}

.socialmedia::before {
  content: url("../src/assets/image/social_media_1.png");
  position: absolute;
  border-radius: 50%;
  top: -30px;
  transform: translateX(-95%);
  background: #070707;
}

/* timeline End */

/* End Home page */

/* Pricing Page Start */
.pricing_page {
  background: url("../src/assets/image/pricing.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 619px;
  padding-bottom: 200px;
}

.prc_banner h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  line-height: normal;
}

.free_pro {
  margin-bottom: 64px;
}

.free_pro_inner {
  gap: 69px;
}

.free_pro .free {
  position: relative;
  margin-bottom: 100px;
}

.free_pro button {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(#070707, #070707) padding-box,
    linear-gradient(to right, #ffc459, #ed6344) border-box;
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 18px 37px;
  white-space: nowrap;
  text-decoration: none !important;
  margin-top: 51px;
}

.free_pro a {
  text-decoration: none !important;
}

.free_pro .free img {
  position: absolute;
  right: 0;
  top: 0;
}

.free_pro h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
}

.free_pro h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(136deg, #ffc459 0%, #14f092 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.free_pro p {
  color: var(--website-grey-1, #cdcdcd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.free_pro .options h6 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.free_pro .options div {
  margin-bottom: 27px;
}

.orange_border {
  position: relative;
}

.orange_border::before {
  position: absolute;
  content: "";
  width: 70%;
  height: 2px;
  background-image: linear-gradient(to left, black, #423c42, #ffc459);
}

/* Pricing Page End */

/* Main Payment Page Start */

.turning_pro {
  margin-top: 154px;
}

.turning_pro h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  margin-bottom: 50px;
}

.plan_details {
  border-radius: 8px;
  border: 1px solid #444;
  background: #121212;
  padding: 31px 35px;
  margin-bottom: 71px;
}

.plan_details h3 {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  margin-bottom: 5px;
}

.plan_details h4 {
  color: var(--website-grey-1, #cdcdcd);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

.plan_details p {
  font-size: 24px;
  color: var(--website-grey-1, #cdcdcd);
}

.turning_pro h5 {
  color: var(--website-grey-1, #cdcdcd);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.plan_header {
  margin-bottom: 54px;
}

/* Main Payment Page End */

/* Payment Fequently Page Start */

.payment h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  margin-bottom: 8px;
}

.payment h3 {
  color: var(--website-grey-1, #cdcdcd);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 24px;
}

.payment button {
  border: 1px solid #000;
  border-radius: 4px;
  background: #111212;
  padding: 10px 16px;
  color: #8a8a8a;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 40px;
  white-space: nowrap;
  transition: 0.4s ease-in-out;
}

.active {
  border: 1px solid #ffc459 !important;
  color: #fff !important;
}

.amount h6 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.amount p {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  margin-bottom: 0px;
}

.pay_box {
  border-radius: 8px;
  border: 1px solid #444;
  background: #121212;
  padding: 20px 30px;
  margin-top: 20px;
  margin-bottom: 102px;
}

.pay_box h3 {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0px;
}

.payment h4 {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 11px;
  color: #fff;
}

.payment_option {
  margin-bottom: 53px;
}

.payment_login {
  margin-bottom: 89px;
}

.payment_login h6 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 18px;
}

.payment_login p,
.payment_login a {
  color: var(--website-grey-1, #cdcdcd);
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 45px;
}

.payment_login a {
  color: #14f092;
}

.payment_login label {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 25px;
}

.payment_login input {
  border-radius: 8px;
  border: 1px solid #444;
  background: #121212;
  padding: 0 12px;
  height: 86px;
  color: #fff;
}

/* .payment_option input {
  accent-color: #14f092;
} */

.payment h5 {
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 62px;
}

.payment img {
  transition: 0.4s ease-in-out;
}

.payment img:hover {
  transform: scale(1.02);
}

.paypal {
  margin-bottom: 80px;
}

/* Modal Start */

.modal-content {
  border-radius: 8px;
  border: 1px solid #444;
  background: #181818;
}

hr {
  background: #252525;
  margin-top: 30px;
  margin-bottom: 30px;
}

.apple_pay_modal span {
  color: #8a8a8a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-align: right;
}

.apple_pay_modal p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.payable {
  font-size: 20px;
  margin-top: 19px;
}

/* Modal End */

.credit_card label {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 25px;
}

.credit_card input {
  padding: 25px 20px;
  border-radius: 8px;
  border: 1px solid #444;
  background: #121212;
  color: #fff;
}

.credit_card .form-control:focus {
  color: #fff;
  background: #121212;
  border-color: #444;
  box-shadow: none !important;
}

.credit_card .form-select {
  padding: 25px 20px;
  border-radius: 8px;
  border: 1px solid #444;
  background: #080808;
  width: 320px;
  background-image: url("../src/assets/image/CustomArrow.png");
  background-repeat: no-repeat;
  background-position: right 9% center;
  background-size: cover;
  color: #fff;
}

.credit_card .form-select:focus {
  color: #fff;
  outline: 0;
  box-shadow: none !important;
}

.form_data {
  margin-bottom: 54px;
}

.form_data p {
  color: #8a8a8a;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}

.billing_information h3 {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  margin-bottom: 18px;
}

.billing_information p {
  color: var(--website-grey-1, #cdcdcd);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 45px;
}

.billing_information {
  margin-top: 51px;
}

.profile img {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

.profile h4 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0px;
}

.profile p {
  color: #666;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.profile {
  margin-bottom: 51px;
}

.bill_input {
  gap: 62px;
}

.billing_information input {
  border: none;
  border-bottom: 1px solid var(--website-grey-2, #747474);
  background: none !important;
  margin-bottom: 55px;
  padding: 0 0 10px 0 !important;
  color: #fff;
}

.billing_information .form-control {
  border-radius: 0px !important;
}

.billing_information input::placeholder {
  color: var(--website-grey-2, #747474);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.submit_btn button {
  color: #171717;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 18px 52px;
  border-radius: 100px;
  background: linear-gradient(68deg, #ffc459 6.11%, #d255d1 97.24%);
  transition: 0.4s ease-in-out;
  margin-top: 43px;
  margin-bottom: 112px;
}

.submit_btn button:hover {
  transform: scale(1.02);
  background: linear-gradient(45deg, #f6ba49 6.11%, #ea2bea 97.24%);
}

/* .options img {
  height: 34px;
} */

.options h6 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.options div {
  margin-bottom: 27px;
}

/* custom radio button start */

.payment_option label {
  margin-bottom: 21px;
  color: #666;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  padding-left: 37px;
  cursor: pointer;
  position: relative;
}

.payment_option input[type="radio"] {
  display: none;
}

.payment_option label::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 1.5px solid #444;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: border-color 400ms ease;
}

.payment_option label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #444;
  border: 1.5px solid #444;
  border-radius: 50%;
  top: 50%;
  left: 1px;
  transform: translateY(-50%) scale(0.5);
  transition: transform 400ms ease;
}

.payment_option input[type="radio"]:checked+label::before {
  border-color: #14f092;
}

.payment_option input[type="radio"]:checked+label::after {
  background-color: #14f092;
  border: 1.5px solid #14f092;
}

.payment_option form input:checked~.label-text {
  color: #fff;
}

.payment_option form input:checked:first-child~.ipayClass img {
  border: 1px solid #14f092;
  border-radius: 5px;
}

/* custom radio button end */

/* End Payment Page */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus-visible {
  outline: none !important;
}

/* password changes modal */

.passwordChange_modal {
  padding: 49px 69px;
}

.passwordChange_modal h3 {
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.passwordChange_modal form p {
  color: #14f092;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 15px;
}

.changePasswordButton {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  border-radius: 6px;
  border: 1px solid #14f092;
  background: #181818;
  /* width: 111px; */
  padding: 5px 34px;
  white-space: nowrap;
  transition: 0.4s ease-in-out;
}

/* responsive css */

/* Home page Start */
@media only screen and (max-width: 1440px) {
  .container_1 {
    padding-left: 6.5%;
  }
}

@media only screen and (max-width: 1300px) {
  .section-timeline {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .passwordChange_modal {
    padding: 25px;
  }

  .container_1 {
    padding-left: 3.5%;
  }

  .timeline_card:nth-child(even)::before {
    right: 3%;
  }

  .pricing {
    padding-right: 20px;
  }

  .business {
    padding-right: 20px;
    top: -18px;
  }

  .crypto::before {
    top: -35px;
  }
}



@media only screen and (max-width: 768px) {
  .container_1 {
    padding-left: 4%;
  }

  .timeline_card:nth-child(odd) {
    padding: 63px 0 63px 30px;
  }

  .timeline_card:nth-child(even)::before {
    right: 8%;
  }

  .pricing {
    padding-right: 20px;
  }

  .business {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .nav-item {
    width: 100%;
  }

  .nav-item:nth-child(2) {
    margin-bottom: 208px;
  }

  .navbar-collapse {
    margin-top: 45px;
  }

  .navbar {
    top: 0;
    margin-bottom: 91px;
    padding-top: 0px;
  }

  .signup_btn {
    text-align: center;
    background: #14f092;
    transition: 0.4s ease-in-out;
  }

  .signup_btn:hover {
    background: #0a9458;
    border: 1px solid #0a9458;
  }

  .signIn_modal {
    padding: 25px 20px;
  }

  .signIn_modal p,
  .signIn_modal p>a {
    font-size: 13px;
    text-align: center;
  }

  .back_btn,
  .signIn_modal h2,
  .signIn_modal a,
  .signIn_modal input::placeholder {
    font-size: 14px;
  }

  .signIn_modal h6 {
    font-size: 12px;
  }

  .sign_in_btn {
    flex-wrap: wrap;
  }

  .sign_in_btn button {
    text-align: start;
    margin-bottom: 44px;
  }

  .signIn_modal hr {
    margin-top: 8px;
  }

  .signIn_modal h3 {
    margin-bottom: 20px;
  }

  .social_login {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 0px;
  }

  .social_login img {
    height: 23px;
    width: 95px;
  }

  .signup_modal h3,
  .signup_modal label {
    font-size: 14px;
  }

  .continue_btn,
  .userName_btn,
  .pass_btn {
    font-size: 10px;
  }

  .password h5 {
    font-size: 11px;
    margin-top: 10px;
  }

  .enter_code h4,
  .enter_code p,
  .enter_code h6,
  .enter_code a {
    font-size: 14px;
  }

  .enter_code {
    padding: 5px;
  }

  .enter_code input {
    width: 26px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #444;
    background: #181818;
    flex-shrink: 0;
  }

  .enter_code_after h6,
  .enter_code_after span>a {
    font-size: 14px;
  }

  .enter_code_after p {
    width: 124px;
  }

  .zark_front {
    background-position: unset;
    padding-top: 200px;
    padding-bottom: 233px;
  }

  .banner h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .banner h6 {
    margin-bottom: 10px !important;
  }

  .crypto::before {
    top: -24px;
  }

  .launch_app {
    padding-bottom: 129px;
  }

  .launch_app button {
    font-size: 12px;
    width: 170px;
    height: 34px;
    margin-bottom: 85px;
  }

  .launch_app button img {
    height: 34px;
  }

  .launch_app .brand {
    gap: 25px;
  }

  .launch_app .brand img {
    height: 19px;
  }

  /* .title {
      font-size: 12px;
      margin-bottom: 12px;
  } */

  .content {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .paragraph {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .socialmedia {
    margin-bottom: 108px;
  }

  .faq {
    margin-bottom: 99px;
  }

  .faq h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0;

  }

  .faq p {
    font-size: 16px;
    margin-bottom: 28px;
  }

  .faq .contact_btn {
    margin-bottom: 36px;
  }

  .accordion-button {
    font-size: 16px;
  }

  .accordion-body {
    font-size: 14px;
  }

  /* time line */
  .section-timeline {
    padding-left: 35px;
  }

  .timeline_card:nth-child(odd)::before {
    border-width: 0px 0 0px 2px;
    border-radius: 0px;
  }

  .timeline_card:nth-child(even)::before {
    left: -49.5%;
    /* top: 3px;
      bottom: 3px; */
    border-width: 0px 2px 0px 0;
    border-radius: 0;
  }

  .timeline_card:last-child::before {
    bottom: 76px;
  }

  .pricing {
    padding-left: 27px;
    margin-top: 97px;
    margin-bottom: 174px;
  }

  .business {
    padding-left: 25px;
    margin-bottom: 0px;
  }

  .pricing::before {
    content: url("../src/assets/image/price_1.png");
    position: absolute;
    border-radius: 50%;
    top: -21px;
    transform: translateX(-95%);
    background: #070707;
    right: 85%;
  }

  .business::before {
    content: url("../src/assets/image/b_1.png");
    position: absolute;
    border-radius: 50%;
    top: -23px;
    transform: translateX(-95%);
    background: #070707;
    right: 85%;
  }

  .socialmedia {
    margin-top: 60px;
  }

  footer h6 {
    margin-bottom: 51px;
  }

  footer p,
  footer a {
    font-size: 12px;
  }
}

.warning_sms {
  color: #F03C14;
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
}

@media only screen and (max-width: 425px) {
  .pricing::before {
    top: -21px;
    right: 71%;
  }

  .business::before {
    top: -23px;
    right: 71%;
  }
}

@media only screen and (max-width: 390px) {
  .pricing::before {
    right: 67%;
  }

  .business::before {
    right: 67%;
  }
}

@media only screen and (max-width: 375px) {
  /* .timeline_card:nth-child(even)::before {
      left: -49.5%;
  } */

  .crypto::before {
    left: 1%;
    top: -4%;
  }

  .pricing::before {
    top: -21px;
    right: 64%;
  }

  .business::before {
    content: url("../src/assets/image/b_1.png");
    position: absolute;
    border-radius: 50%;
    top: -23px;
    transform: translateX(-95%);
    background: #070707;
    right: 63%;
  }
}

@media only screen and (max-width: 320px) {
  .timeline_card:nth-child(even)::before {
    left: -49.4%;
  }

  .crypto::before {
    top: -20px;
    left: 2%;
  }

  .business::before {
    top: -20px;
    right: 58%;
  }

  .pricing::before {
    top: -20px;
    right: 58%;
  }
}

/* Home  Page End */

/* Pricing Page Start */

@media screen and (max-width: 767px) {
  .orange_border {
    display: none;
  }

  .pricing_page {
    padding-top: 182px;
    padding-bottom: 300px;
  }

  .free_pro {
    margin-bottom: 0;
  }

  .free_pro .options div {
    margin-bottom: 16px;
  }

  .prc_banner h1 {
    font-size: 32px;
    font-weight: 700;
  }

  .free_pro h1 {
    font-size: 36px;
  }

  .free_pro h2 {
    font-size: 32px;
  }

  .free_pro .free img {
    position: static;
  }

  .free_pro button {
    font-size: 20px;
    padding: 13px 26px;
    margin-top: 44px;
    margin-bottom: 81px;
  }

  .socialmedia::before {
    top: -12px;
  }

  .socialmedia .signUp button {
    padding: 0 0;
    width: 76px;
  }
}

/* Pricing Page End */

/* payment Page Start */

@media only screen and (max-width: 767px) {
  .turning_pro {
    margin-top: 99px;
  }

  .turning_pro h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .payment h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .payment h3 {
    font-size: 15px;
    margin-bottom: 23px !important;
  }

  .payment button {
    margin-bottom: 46px;
  }

  .off_btn {
    margin-left: 19px;
  }

  .amount h6 {
    font-size: 20px;
  }

  .pay_box {
    padding: 11px 10px;
    margin-top: 17px;
  }

  .pay_box h3 {
    font-size: 20px;
  }

  .amount p {
    margin-bottom: 0;
  }

  .pay_box {
    margin-bottom: 96px;
  }

  .payment h4 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .payment_option label {
    margin-bottom: 28px;
    font-size: 15px;
  }

  .payment_option {
    margin-bottom: 43px;
  }

  .payment h5 {
    font-size: 15px;
    margin-bottom: 21px;
  }

  .payment img {
    height: 38px;
  }

  .payment label img {
    height: 23px;
  }

  .apple_pay_modal span {
    font-size: 12px;
  }

  .apple_pay_modal p {
    font-size: 12px;
  }

  .payable {
    font-size: 15px;
    margin-top: 9px;
  }

  .credit_card label {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .form_data {
    margin-bottom: 28px;
  }

  .credit_card input {
    padding: 8px;
  }

  .credit_card .form-select {
    padding: 8px;
  }

  .billing_information h3 {
    font-size: 24px;
  }

  .profile img {
    height: 48px;
    width: 48px;
  }

  /* .payment h4 {
      font-size: 16px;
      margin-bottom: 0px;
  } */

  .billing_information input::placeholder {
    font-size: 14px;
  }

  .bill_input {
    flex-direction: column;
    gap: 0px;
  }

  .submit_btn button {
    margin-top: 0px;
    padding: 14px 34px;
    font-size: 16px;
    margin-bottom: 63px;
  }

  .plan_header {
    flex-direction: column;
    align-items: start !important;
  }

  .plan_details h3 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .turning_pro h5 {
    font-size: 15px;
    margin-bottom: 28px;
  }

  .plan_details h4 {
    font-size: 32px;
  }

  .plan_details {
    padding: 36px 18px;
  }

  .plan_details p {
    text-align: start !important;
  }

  .options h6 {
    font-size: 14px !important;
  }

  .options img {
    height: 28px;
  }

  hr {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 320px) {
  .off_btn {
    margin-left: 0px;
  }
}

/* Payment Fequently Page End */

/* payment Page End */
.StripeElement {
  border: 1px solid #444;
  border-radius: 8px;
  padding: 25px 20px;
}


.some-paypal-button-class {
  display: none;
}